h2 ,h3,h4, p{
	text-align: center;
	color: red;
}

.li{

}
.drone-report
{
	width: 600px;
	height: 200px;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "alert datas"
						"localisation datas";
}

.alert
{
	grid-area: alert;
	background-color: #607D8B;
}
.localisation
{
	grid-area: localisation;
	background-color: #607d8b70;
}
.datas
{
	grid-area: datas;
	background-color: #607d8b99;
}
