section{
	background-color: #607D8B;
	width: 300px;
	position: absolute;
	height: 100px;
}
article{
	width: 300px;
	background-color: #607d8b70;
	position: absolute;
	top: 219px;
	height: 100px;
}
aside{
	background-color: #607d8b99;
	width: 300px;
	position: absolute;
	left: 308px;

	height: 200px;
}
h2 , p {
	text-align: center;
	color: red;
}
